
#
# The account name of your storage account
#
account "your table storage account"

#
# The acceskey to authenticate with the storage
#
key "your access key"

#
# The table to operate on. MUST exist.
#
table "you table name"